@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
    @apply scroll-smooth;
  }
  body {
    @apply text-sm;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none m-0;
    -moz-appearance: textfield;
  }

  button {
    @apply select-none;
  }
}

@layer components {
  .col-8 {
    @apply w-8/12 basis-8/12;
  }
  .col-4 {
    @apply w-4/12 basis-4/12;
  }
  .col-6 {
    @apply w-6/12 basis-6/12;
  }
  .col-7 {
    @apply w-7/12 basis-7/12;
  }
  .col-5 {
    @apply w-5/12 basis-5/12;
  }
  .col-2 {
    @apply w-2/12 basis-2/12;
  }
  .text-13 {
    @apply text-[13px];
  }
  .text-15 {
    @apply text-[15px];
  }
  .text-28 {
    @apply text-[28px];
  }

  /* button */

  .header-btn {
    @apply border-0 bg-white rounded-full px-4 py-1.5 text-base;
  }
  .is-chain-active {
    @apply bg-gray-100 rounded-md;
  }
}
